form {
    width: 30%;
    outline: 2px solid salmon;
    padding: 1% 2% 1%;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: coral;
    color: whitesmoke;
    border: none;
    font-size: 16px;

}

input[type=radio] {
    margin-right: auto;
}

h3 {
    color: salmon;
    text-align: center;

}

a {
    color: lightslategrey;
}

p {
    text-align: center !important;

}

table {
    margin: auto;
}

.NewInventoryForm form {
    width: 70%;
}