.TopBar{
    border-bottom: 1px solid salmon;
    text-align: right;
    margin-bottom: 20px;
    
}

ul{
    list-style-type: none;
    float : right;
}

.Logo img{
    float: left;
}

li a{
    color: lightslategrey;
    text-decoration: none;
    padding-left: 5px;
}

li a:hover{
    color: salmon;
}



